@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald';
    font-weight: 400;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1220px;
    padding: 0 40px;
    margin: 0 auto;
}
// header
header{
    background-image: url('../images/hero_bg_image.png'), linear-gradient(90deg,#fff 0% 50%, #64A83B 50% 100%);
    // background: linear-gradient(90deg,#fff 0% 50%, #64A83B 50% 100%);
    background-repeat: no-repeat;
    background-position: right top;
    height: 694px;
    padding-top: 53px;
    margin: 0;
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            cursor: pointer;
            &:hover{
                opacity: .8;
            }
            &:active{
                opacity: .6;
            }
        }
        ul{
            display: flex;
            li{
                list-style: none;
                // width: fit-content;
                text-align: center;
                padding-bottom: 8px;
                margin-right: 10px;
                a{
                    font-size: 20px;
                    line-height: 30px;
                    text-transform: uppercase;
                    color: #fff;
                    &:hover{
                        text-decoration: none;
                    }
                }
                &:hover{
                    opacity: .6;
                }
                &:active{
                    opacity: .3;
                }
                &.active{
                    border-bottom: 2px solid #fff;
                }
            }
        }
    }
    // overflow: hidden;
    .hero{
        display: flex;
        align-items: center;
        .left{
            max-width: 415px;
            h1{
                font-size: 60px;
                line-height: 60px;
                margin-bottom: 40px;
            }
            h3{
                font-size: 20px;
                line-height: 20px;
                text-transform: uppercase;
                margin-bottom: 50px;
            }
            .btn{
                font-size: 20px;
                text-transform: uppercase;
                width: fit-content;
                background-color: #68B738;
                padding: 14px 26px;
                a{
                    color: #FFFFFF;
                }
                &:hover{
                    background-color: #5EAA2F;;
                }
                &:active{
                    a{
                        opacity: .3;
                    }
                }
            }
        }
    }
    
}
.cards{
    display: flex;
    gap: 4%;
    justify-content: center;
    padding: 82px 0 72px;
    .card{
        width: 46.7%;
        height: 374px;
        background-color: #f2f2f2;
        padding: 2%;
        display: flex;
        align-items: center;
        gap: 18px;
        .right{
            display: none;
        }
        &__title{
            display: flex;
            align-items: center;
            gap: 62px;
            margin-bottom: 40px;
            h2{
                font-size: 36px;
                line-height: 36px;
                text-transform: uppercase;
            }
        }
        p{
            font-family: 'Arial';
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 22px;
        }
        .link_catalog{
            display: flex;
            align-items: center;
            gap: 28px;
            width: fit-content;
            cursor: pointer;
            span{
                font-size: 20px;
                line-height: 30px;
                text-transform: uppercase;
            }
            &:active{
                opacity: .3;
            }
        }
    }
    .second-card{
        .card__title{
            gap: 47px;
        }
    }
}
.how{
    h2{
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 32px;
    }
    .how-wrapper{
        display: flex;
        gap: 83px;
        justify-content: space-between;
        .how-item{
            height: 280px;
            position: relative;
            padding-top: 40px;
            .icon{
                padding: 24px 25px;
                background-color: #68B738;
                width: fit-content;
                height: fit-content;
                margin-bottom: 30px;
                svg{
                    width: 30px;
                    height: 32px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            p{
                font-family: 'Arial';
                font-size: 16px;
                line-height: 24px;
                color: #444444;
            }
            .bg-text{
                font-size: 280px;
                line-height: 280px;
                color: #f2f2f2;
                position: absolute;
                right: 0;
                top: 0;
                z-index: -1;
            }
        }
    }
}
.before-after{
    .container{
        display: flex;
    }
    padding-top: 58px;
    padding-bottom: 75px;
    background: linear-gradient(#fff 0% 30%, #f2f2f2 30% 100%);
    h2{
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 146px;
    }
    .left{
        max-width: 436px;
        p{
            font-family: 'Arial';
            font-size: 16px;
            line-height: 24px;
            color: #444444;
            margin-bottom: 70px;
        }
        .modules{
            display: flex;
            gap: 42px;
            .module{
                display: flex;
                flex-direction: column;
                align-items: center;
                border: 1px solid #CDCDCD;
                border-radius: 3px;
                flex: 0 0 162px;
                padding-top: 15px;
                margin-bottom: 50px;
                span{
                    font-size: 30px;
                    line-height: 37px;
                    margin: 0;
                    margin-bottom: 11px;
                }
                p{
                    font-size: 14px;
                    line-height: 14px;
                    background: #f2f2f2;
                    margin-bottom: -8px;
                    width: fit-content;
                    padding: 0 8px;
                }
            }
            p{
                margin: 0;
            }
        }
        span{
            font-size: 20px;
            line-height: 20px;
            text-transform: uppercase;
            margin-right: 55px;
        }
    }
    .right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1 1 auto;
        width: 690px;
        height: 656px;
        gap: 20px;
        .images{
            overflow: hidden;
            width: 345px;
            height: 493px;
            position: relative;
            .before{
                z-index: 3;
            }
            .before, .after{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                pointer-events: none;
                overflow: hidden;
                img{
                    height: 100%;
                }
            }
            .before{
                width: 50%;
            }
        }
        .range{
            display: flex;
            gap: 20px;
            align-items: center;
            input[type="range"]{
                -webkit-appearance: none;
                background: transparent;
                cursor: pointer;
                width: 345px;
                &::-webkit-slider-runnable-track{
                    height: 6px;
                    background: #DCDCDC;
                    border-radius: 6px;
                }
                &::-moz-range-track{
                    height: 6px;
                    background: #DCDCDC;
                    border-radius: 6px;
                }
                &::-webkit-slider-thumb{
                    position: relative;
                    -webkit-appearance: none;
                    margin-top: (6px/2)-(34px/2);
                    appearance: none;
                    width: 34px;
                    height: 34px;
                    background: url('../images/small-green-circle.png'), #fff;
                    background-position: center;
                    background-repeat: no-repeat;
                    border-radius: 50%;
                    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.16));
                    border: 1px solid #CDCDCD;
                }
                &::-moz-range-thumb{
                    width: 34px;
                    height: 34px;
                    border-radius: 50%;
                    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.16));
                    border: 1px solid #CDCDCD;
                }
            }
            span{
                font-weight: 400;
                font-size: 20px;
                line-height: 30px;
                text-transform: uppercase;
                border-bottom: 1px dotted rgba($color: #000000, $alpha: 0.26);
            }
        }
    }
}
footer{
    background-color: #F2F2F2;
    padding: 58px 0;
    .container{
        display: flex;
        justify-content: space-between;
        .logo{
            &:hover{
                opacity: .8;
            }
            &:active{
                opacity: .6;
            }
        }
        .social{
            a:hover{
                svg path{
                    stroke: #68B738; 
                }
            }
            a:active{
                opacity: .3;
            }
            a:first-child{
                margin-right: 6px;
            }
            display: flex;
            align-items: center;
            gap: 21px;
        }
        svg{
            cursor: pointer;
            &:hover{
                .svg_icon{
                    fill: #68B738;
                }
            }
            &:active{
                opacity: .3;
            }
        }
    }
}
@media (max-width: 768px) {
    .container{
        max-width: 708px;
    }
    header{
        background: none;
        padding-top: 23px;
        nav{
            ul{
                li{
                    a{
                        color: #000000;
                        font-size: 18px;
                        line-height: 24px;
                    }
                    &.active{
                        border-bottom: 2px solid #68B738;
                    }
                }
            }
        }
        .hero{
            margin-top: 50px;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 110px;
            img{
                margin: -90px 0 0 0px;
                z-index: -1;
            }
        }
    }
    .cards{
        flex-direction: column;
        padding-top: 145px;
        align-items: center;
        gap: 30px;
        .card{
            width: 100%;
            .right{
                display: block;
            }
            &__title{
                img{
                    display: none;
                }
            }
        }
        
    }
    .how{
        .how-wrapper{
            flex-wrap: wrap;
            gap: 37px;
            .how-item{
                width: 230px;
            }
        }
    }
    .before-after{
        background: linear-gradient(#fff 0% 70%, #f2f2f2 70% 100%);
        .container{
            flex-direction: column;
            .left{
                max-width: 100%;
                h2{
                    margin-bottom: 63px;
                }
                p{
                    margin-bottom: 54px;
                }
                .bottom_left{
                    display: flex;
                    justify-content: space-between;
                }
                .text{
                    display: flex;
                    flex-direction: column;
                    text-align: end;
                    gap: 9px;
                }
                span{
                    margin: 0;
                }
                .modules{
                    .module{
                        p{
                            background: #fff;
                        }
                    }
                }
            }
        }
    }
    footer{
        padding: 55px 0 61px;
    }
}